.cart {
	max-width: 272px;
	min-height: 208px;
	position: relative;
	cursor: pointer;
}

.price {
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: center;
}

.description {
	width: 100%;
	display: block;
	word-break: break-word;
	text-align: center;
}
