.container {
	max-width: 600px;
}

.ingredients {
	max-height: 726px;
	overflow-y: auto;
}

.ingredients::-webkit-scrollbar {
	width: 8px;
	background: #2f2f37;
}

.ingredients::-webkit-scrollbar-thumb {
	background: #8585ad;
}
